body {
    background-image: linear-gradient(red, yellow)
}

.navbar {
    background-color: rgb(228, 224, 224);
}

.navbar-brand {
    color: white;
    background-color: rgb(21, 126, 145);
    padding: 20px;
    font-family: serif;
    font-weight: 200;
    font-size: 23pt;
    margin-left: 60px;
}

a {
    color: grey;
}

.card {
    margin-left: 75px;
    margin-right: 300px;
    margin-top: 75px;
}
